# Ignora archivos del sistema Mac 
.DS_store
.DS_Store

# Ignora la carpeta node_modules
node_modules

# Ignora todos los archivos de texto
*.txt

# Ignorar carpetas llamadas "ignore"
**/ignorar/
ignorar/
ignorar/*

